@font-face {
  font-family: AntipastoRegular;
  src: url('../webfonts/Antipasto-Pro-Regular-trial.ttf');
}
@font-face {
  font-family: AntipastoLight;
  src: url('../webfonts/Antipasto-Pro-ExtraLight-trial.ttf');
}
@font-face {
  font-family: AntipastoBold;
  src: url('../webfonts/Antipasto-Pro-ExtraBold-trial.ttf');
}

.card-body,
.container,
.site-header {
  font-family: 'Raleway', serif !important;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jrow{
  height: 100%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.navbar{
  box-shadow: 1px 4px 5px 0px rgba(202,175,175,0.75);
  -webkit-box-shadow: 1px 4px 5px 0px rgba(202,175,175,0.75);
  -moz-box-shadow: 1px 4px 5px 0px rgba(202,175,175,0.75);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: black !important;
}

.navbar > * >*{
  display: flex;
  padding: 10px;
}

.dropdown{
  position: relative;
  display: inline-block;
}

#categories-menu, #optionsUser {
  font-family: 'Josefin Sans',sans-serif;
  font-weight: 100;
  display: none;
  position: absolute;
  background-color: #0b0b0b94;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(9, 94, 80, 0.2);
  z-index: 1;
}

#categories-menu a,#optionsUser a{
  color: white;
}

#conjuntoUsuario{
  display: flex;
  text-align: center !important;
  vertical-align: middle !important;
}

#saludoUsuario{
  padding-top:8px;
  margin-top: 0px !important;
}

#categories-menu a:hover, #optionsUser a:hover{
  background-color: rgb(115, 184, 168);
}

.dropdown:hover #categories-menu, .dropdown:hover #optionsUser {display: block;}

.navbar img{
  width: 50px;
  height: 
  50px !important;
}
a.nav-link,div.card { transition: all 0.5s;}


a.nav-link:hover, div.card:hover{
  transform: scale(1.1);
}


#botonLogin{
  border: 1px solid rgb(177, 170, 170);
  border-radius: 30px;
  padding: 5px 20px 5px 20px;
  max-width: max-content;
}

#botonLogin:hover, #modalCancel:hover{
  background-color: rgba(125, 116, 116, 0.249);
  color: black;
}

.modal-content {
  border-radius: 5%;
  height: 600px;
}

#modalCancel{
  border:none;
  border-radius: 30px; 
  background-color: rgba(0, 0, 0, 0.455);
  margin-top: 40px;
}

.nav-item > a{
  text-transform: uppercase;
}

.navbar ul{
  margin-left: 100px;
}

.navbar img{
  height: 25px;
}

#toggler-text{
  display: inline-block;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 5px;
}


/*LOGIN*/
h3.inputLogin{
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 100%;
  margin: 0px auto;
}

.inputLogin{
  display: block;
  margin: 5px auto;
  width: 70%;
}

#logoLogin{
  display: block;
  margin: 0px auto;
  height: 100%;
  width: auto;
}

#sepLogin{
  display: block;
  margin: 30px auto;
  margin-bottom: 10px;
  width: 100px;
}

.center{
  display: block;
  margin: 0px auto;
  text-align: center;
}

#saludoUsuario{
  text-decoration: none;
  color: rgba(249, 235, 209, 0.655);
  margin: 6px auto;
}

#notFound{
  width: 10%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 50px;
}

#textoNF{
  margin-top: 50px;
  color: rgb(69, 69, 69);
}

.tituloSeccion{
  text-transform: uppercase;
  margin-bottom: 10px;
}

#buscador{
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

body{
  background-color: #bcb9b948;
}

#productos{
  background-color: white;
}

#productos .row img:hover{
  transform: scale(1.1);
}

#filtros{
  margin-bottom: 20px;
  max-width: 95%;

}

#filtros>div{
  margin: 0px auto;
  margin-left: 40px;
  margin-top: 5%;
  padding: 10px;
}

#container-productos{
  text-align: center;
}


#filtros>h3{
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.128);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  margin-left: 40px;
  box-shadow: 10px 10px 5px 0px rgba(222,199,199,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(222,199,199,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(222,199,199,0.75);
}


#filtros .form-control{
  max-height: 1.5rem;
  max-width: 5rem;
}

#filtros .btn-dark:hover{
  background-color: rgb(88, 86, 86);
}

#filtros .btn-light:hover{
  background-color:#ba9e9e94
}

#filtros .btn-light{
  background-color: rgba(197, 169, 169, 0.205);
}

#infoProd{
  font-family: 'Josefin Sans',sans-serif!important;
  font-weight: 300;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  height: auto;
  background-color: rgba(239, 232, 232, 0.515);
}

#nameCat{
  font-family: AntipastoBold;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 400%;
}


#infoAbtProd{
  display: flex;
  justify-content: space-between;
}


#infoAbtProd > *{
  margin-right: 20px!important;
}

#nameProd{
  font-family: AntipastoRegular;
  font-size: 40px;
}


#allImages>*,#allImages img{
  padding: 1px !important;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-left: 5px !important;
}

#allImages img:hover{
  transform: scale(1.3);
}

#imagenPrincipal{
  max-width: 100%;
}

#comentarios{
  background-color: rgba(255, 255, 255, 0.489);
  border-radius: 20px;
  width: 90%;
  padding: 15px;
  box-shadow: 0px -1px 23px 0px rgba(117,104,104,0.49);
  -webkit-box-shadow: 0px -1px 23px 0px rgba(117,104,104,0.49);
  -moz-box-shadow: 0px -1px 23px 0px rgba(117,104,104,0.49);
}

.subtitleInfoProducts{
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

#comentarios hr{
  max-width: 70%;
  margin: 0 auto;
}



.containerComentario{
  padding: 5px;
  margin: 0 auto;
  width: 80%;
}

.comentUser{
  font-weight: bold;
}

.comentDate{
  color: #7297b6; 
  font-size: smaller;
}



#containerNewComent{
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
}

#containerNewComent > * {
  margin-bottom: 5px;
}

#needToLogin{
  text-align: center;
  margin-top: 15px;
  font-size: 1.3rem;
}

#usuario{
  display: flex;
}

#relatedProducts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#relatedProducts > *{
  width: 40%;
  margin-bottom: 5px;
}

#relatedProducts .card-body{
  padding:2px;
}

#relatedProducts .card-title{
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 110%;
}

#carouselImg{
  border-radius: 5px;
}

.cantCart{
  width: 4rem;
  text-align: center;
}

.img-cart{
  width: 60px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.deleteProd{
  transition: all 0.5s;
}
.deleteProd:hover{
  color: black;
  background-color: rgba(199, 179, 179, 0.683);
  border-radius: 10px;
  padding: 2px;
}

#textoBtnComprar{
  font-size: 1rem;
}

#datosCompra{
  margin-top: 5vh;
  border-left: solid 4px rgb(46, 128, 84);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(133, 195, 158, 0.068);
}

#textoPerfil{
  font-size: 3rem;
  align-items: center;
}

#imagenPerfil{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain
}

#container-imgPerfil{
  border: 1px solid rgba(0, 0, 0, 0.228);
  width: 150px;
  height: 150px;
}